/* Coolors Exported Palette - coolors.co/734d62-b7c5c6-849ea9-5c717e-f7b766 */

/* HSL */
$color1: hsla(327%, 20%, 38%, 1);
$color2: hsla(184%, 12%, 75%, 1);
$color3: hsla(198%, 18%, 59%, 1);
$color4: hsla(203%, 16%, 43%, 1);
$color5: hsla(34%, 90%, 68%, 1);

/* RGB */
$color1: rgba(115, 77, 98, 1);
$color2: rgba(183, 197, 198, 1);
$color3: rgba(132, 158, 169, 1);
$color4: rgba(92, 113, 126, 1);
$color5: rgba(247, 183, 102, 1);